/* Pricing Table */

.table-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-wrap table:nth-child(1) {
  width: 33%;
  min-width: 300px;
  margin-bottom: 40px;
}

.table-wrap table:nth-child(2) {
  width: 33%;
  min-width: 300px;
  margin-bottom: 40px;
}

.table-wrap table:nth-child(3) {
  width: 33%;
  min-width: 300px;
  margin-bottom: 40px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  padding: 0.5em 0 0.5em 0;
}

tfoot th {
  text-align: right;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  box-shadow: 5px 5px 5px rgba(150, 146, 174, 0.5);
  border-radius: 25px;
  text-shadow: 1.25px 1.25px 1.25px black;
}

thead th {
  border-top: 3px solid rgba(122, 115, 156, 1);
  border-left: 3px solid rgba(122, 115, 156, 1);
  border-right: 3px solid rgba(122, 115, 156, 1);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-weight: bold;
  font-size: 2rem;
}

.table-wrap table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

tbody td {
  border-bottom: 3px solid rgb(255, 255, 255);
}

.table-wrap table tbody tr:last-child td:last-child {
  border-bottom: 0px;
}

tbody {
  display: table;
  width: 100%;
  border: 3px solid rgb(255, 255, 255);
  font-weight: bold;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

tfoot {
  color: white;
  text-shadow: 1px 1px 1px black;
}

thead,
tfoot {
  color: white;
  text-shadow: 1.75px 1.75px 1.75px black;
}

thead th {
  padding: 0.75em 0 0.75em 0;
  background-color: rgba(74, 70, 94, 0.95);
  /* text-shadow: 3px 3px 3px rgba(150, 146, 174, 0.5); */
}

tfoot th,
tfoot td {
  background: linear-gradient(to bottom, rgb(0 0 0 /10%), rgb(0 0 0 / 50%));
}

tbody tr:nth-child(odd) {
  background-color: rgba(78, 78, 78, 0.95);
}

tbody tr:nth-child(even) {
  background-color: rgba(74, 70, 94, 0.95);
}

tbody tr {
  background-image: url(../.././images/home/noise.png);
}

table {
  margin: 10px;
}

caption {
  padding-bottom: 25px;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgba(150, 146, 174, 0.5);
}
